body {
	font-family: 'Lato',sans-serif;
}
div#choose {
	margin:110px 0 0 150px;
	
}
button#enter {
	height:30px;
}
table.color {
	border-spacing:10px;
	border:none;
	margin-top:50px;
	margin-left:50px;
}
td {
	width:200px;
	border-radius: 10px;
}
input#userInput{
	border:dotted #d1d1d1 2px;
	border-radius:10px;
	min-width: 30%;
}
#choose select {
	border:dotted #d1d1d1 2px;
	border-radius: 10px;
	min-width: 15%;
}

.item_list li{
	border:none;
	border-radius:10px;
	padding:10px 10px 10px 0;
	margin:5px;
	margin-left:0;
	width:70%;
}

li label {
	margin-left:63px;
}

li label.time {
	float:left;
	width:40px;
	margin-left:10px;
}
li.time label {
	margin-left:10px;
}
li button{
	font-size:13px;
	background:none;
	border:none;
	margin-left:5px;
	float:right;
}
li button.delete{
	font-size:13px;
}
li.school, td.school {
	background-color: #e5f4fc;
}
li.work, td.work {
	background-color: #e6f7d4;
}
li.food, td.food {
	background-color: #f9f4db;
}
li.sport, td.sport{
	background-color: #fff0ea;
}
li.movie, td.movie {
	background-color: #edeaff;
}
li.other, td.other {
	background-color: #ffeafe;
}

li.finish{
	background-color:white;
	border:grey solid 1px;
}
li input {
	display:none;
}

li.editMode input {
	display:block;
	float:left;
	background-color:transparent;
	border: dotted #d1d1d1 2px;
	border-radius: 10px;
	margin-left:15px;
}
li.editMode label {
	float:left;
	display:none;

}
